nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    height: 50px;

    h2,
    Link {
        text-transform: uppercase;
        color: rgb(29, 29, 29);
        font-size: 1.8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 10px;
    }
}